/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import 'tailwindcss';

@theme {
  --font-space-mono: 'Space Mono', monospace;
  /*colors*/

  --color-bgshadow: '#F3F8FB';

  --color-darkgreen: '#5BABA2';
  --color-outline:'#2B9BEB';


  --color-cyan:'#0C8CE9';
  --color-label: '#5d6b6c';
  --color-error:'#E85D5D';
}
